In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Train.csv")

In [3]:
data.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1009 non-null   float64
 1   survived   1009 non-null   float64
 2   name       1009 non-null   object
 3   sex        1009 non-null   object
 4   age        812 non-null    float64
 5   sibsp      1009 non-null   float64
 6   parch      1009 non-null   float64
 7   ticket     1009 non-null   object
 8   fare       1008 non-null   float64
 9   cabin      229 non-null    object
 10  embarked   1008 non-null   object
 11  boat       374 non-null    object
 12  body       98 non-null     float64
 13  home.dest  582 non-null    object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [5]:
cols=["name","ticket","cabin","embarked","home.dest","body","boat"]

In [6]:
data=data.drop(columns=cols)

In [9]:
data=data.fillna(data.mean())

C:\Users\taran\AppData\Local\Temp/ipykernel_30292/2490576204.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data=data.fillna(data.mean())

In [10]:
data

      pclass  survived     sex        age  sibsp  parch      fare
0        3.0       0.0  female  29.838978    0.0    0.0    7.7500
1        2.0       0.0    male  39.000000    0.0    0.0   26.0000
2        2.0       1.0  female  40.000000    0.0    0.0   13.0000
3        3.0       1.0  female  31.000000    1.0    1.0   20.5250
4        3.0       1.0  female  29.838978    2.0    0.0   23.2500
...      ...       ...     ...        ...    ...    ...       ...
1004     1.0       1.0    male  40.000000    0.0    0.0   31.0000
1005     3.0       0.0  female  37.000000    0.0    0.0    9.5875
1006     1.0       1.0  female  23.000000    1.0    0.0  113.2750
1007     3.0       1.0    male  12.000000    1.0    0.0   11.2417
1008     3.0       0.0    male  30.000000    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
data["sex"]=le.fit_transform(data["sex"])

In [14]:
data

      pclass  survived  sex        age  sibsp  parch      fare
0        3.0       0.0    0  29.838978    0.0    0.0    7.7500
1        2.0       0.0    1  39.000000    0.0    0.0   26.0000
2        2.0       1.0    0  40.000000    0.0    0.0   13.0000
3        3.0       1.0    0  31.000000    1.0    1.0   20.5250
4        3.0       1.0    0  29.838978    2.0    0.0   23.2500
...      ...       ...  ...        ...    ...    ...       ...
1004     1.0       1.0    1  40.000000    0.0    0.0   31.0000
1005     3.0       0.0    0  37.000000    0.0    0.0    9.5875
1006     1.0       1.0    0  23.000000    1.0    0.0  113.2750
1007     3.0       1.0    1  12.000000    1.0    0.0   11.2417
1008     3.0       0.0    1  30.000000    0.0    0.0    8.0500

[1009 rows x 7 columns]

In [130]:
x=data[["pclass","sex","age","sibsp","parch","fare"]]
y=data[["survived"]]

In [131]:
y.head()

   survived
0       0.0
1       0.0
2       1.0
3       1.0
4       1.0

In [ ]:
data_test=pd.read_csv("Test.csv")

data_test.head()



data_test=data_test.drop(columns=cols)
data_test=data_test.fillna(data_test.mean())
data_test["sex"]=le.fit_transform(data_test["sex"])

data_test

## Decision Tree Prepairation

In [114]:
def entropy(col):
    a=np.unique(col,return_counts=True)
    # print(col.shape[0])
    entropy=0
    for i in a[1]:
        p=float(i)/col.shape[0]
        entropy+=(-1*p*np.log2(p))
    
    # print(entropy)
    return entropy

In [115]:
def divide(x_cols,fkey,fval):
    left=pd.DataFrame([],columns=x_cols.columns)
    right=pd.DataFrame([],columns=x_cols.columns)
    for i in range(x_cols.shape[0]):
        val=x_cols[fkey].loc[i]
        
        if val<fval:
            left=left.append(x_cols.loc[i])
        else:
            right=right.append(x_cols.loc[i])
    return left,right

In [116]:
# left,right=divide(data[:5],"sex",0.5)

In [117]:
# left=left.reset_index(drop=True)
# right=right.reset_index(drop=True)

In [118]:
# left.head()

In [135]:
def info_gain(x_cols,fkey,fval):
    left,right=divide(x_cols,fkey,fval)
    l,r=float(left.shape[0])/x_cols.shape[0],float(right.shape[0])/x_cols.shape[0]
    # print(entropy(right.survived))
    if left.shape[0]==0 or right.shape[0]==0:
        return -100000
    ig=entropy(x_cols.survived)-l*entropy(left.survived)-r*entropy(right.survived)
    return ig

In [136]:
print(info_gain(data,"sex",0.5))

0.19274737190850932

In [137]:
for i in x.columns:
    print(i)
    print(info_gain(data,i,x[i].mean()))

pclass
0.055456910002982474
sex
0.19274737190850932
age
0.0010525742338488575
sibsp
0.006492394392888956
parch
0.019756080122948216
fare
0.042427934014281715

## Decision Tree

In [146]:
list(data.columns)

['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'fare']

In [200]:
class Decision_Tree():
    def __init__(self,depth=0,max_depth=5):
        self.depth=depth
        self.max_depth=max_depth
        self.target=None
        self.left=None
        self.right=None
        self.fkey=None
        self.fval=None
    def train(self,xtrain):
        features=list(xtrain.columns)
        # print(features)
        features.remove("survived")
        information_gain=[]
        
        for i in features:
            ig=info_gain(xtrain,i,xtrain[i].mean())
            information_gain.append(ig)
        
        self.fkey=features[np.argmax(information_gain)]
        self.fval=xtrain[self.fkey].mean()
        
        print("feature Tree of:",self.fkey)
        
        left_tree,right_tree=divide(xtrain,self.fkey,self.fval)
        
        left_tree=left_tree.reset_index(drop=True)
        right_tree=right_tree.reset_index(drop=True)
        
        if left_tree.shape[0]==0 or right_tree.shape[0]==0:
            if xtrain.survived.mean()>=0.5:
                self.target= "Survived"
            else:
                self.target= "Dead"
            return
        if self.depth==self.max_depth:
            if xtrain.survived.mean()>=0.5:
                self.target= "Survived"
            else:
                self.target= "Dead"
            return
        
        self.left=Decision_Tree(self.depth+1,self.max_depth)
        self.left.train(left_tree)
        
        self.right=Decision_Tree(self.depth+1,self.max_depth)
        self.right.train(right_tree)
        
        if xtrain.survived.mean()>0.5:
            self.target= "Survived"
        else:
            self.target= "Dead"
        return
    def predict(self,x_test):
        if x_test[self.fkey]>self.fval:
            if self.right==None:
                return self.target
            return self.right.predict(x_test)
        else:
            if self.left==None:
                return self.target
            return self.left.predict(x_test)

In [201]:
dt=Decision_Tree()
dt.train(data)

feature Tree of: sex
feature Tree of: pclass
feature Tree of: pclass
feature Tree of: fare
feature Tree of: sibsp
feature Tree of: age
feature Tree of: age
feature Tree of: sibsp
feature Tree of: age
feature Tree of: sibsp
feature Tree of: parch
feature Tree of: fare
feature Tree of: sibsp
feature Tree of: fare
feature Tree of: age
feature Tree of: age
feature Tree of: parch
feature Tree of: parch
feature Tree of: sibsp
feature Tree of: fare
feature Tree of: fare
feature Tree of: fare
feature Tree of: age
feature Tree of: sibsp
feature Tree of: sibsp
feature Tree of: fare
feature Tree of: fare
feature Tree of: age
feature Tree of: fare
feature Tree of: fare
feature Tree of: fare
feature Tree of: age
feature Tree of: fare
feature Tree of: parch
feature Tree of: age
feature Tree of: fare
feature Tree of: fare
feature Tree of: fare
feature Tree of: sibsp
feature Tree of: pclass
feature Tree of: pclass
feature Tree of: age
feature Tree of: pclass
feature Tree of: age
feature Tree of: sibsp
feature Tree of: parch
feature Tree of: pclass
feature Tree of: age
feature Tree of: pclass
feature Tree of: age
feature Tree of: parch
feature Tree of: fare
feature Tree of: age
feature Tree of: sibsp
feature Tree of: fare
feature Tree of: fare
feature Tree of: sibsp
feature Tree of: sibsp
feature Tree of: pclass
feature Tree of: age
feature Tree of: age
feature Tree of: pclass
feature Tree of: pclass

In [202]:
dt.fkey

'sex'

In [235]:
y_pred=[]

In [236]:
for i in range(data_test.shape[0]):
    y=dt.predict(data_test.loc[i])
    y_pred.append(y)
y_pred

['Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Survived',
 'Dead',
 'Dead',
 'Survived',
 'Survived',
 'Dead',
 'Dead',
 'Survived']

In [237]:
y_pred=le.fit_transform(y_pred)

In [217]:
for i in range(len(y_pred)):
    y_pred[i]=float(y_pred[i])

In [242]:
y_pred.dtype="float32"

In [243]:
y_pred

array([0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00, 0.e+00, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00,
       1.e-45, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 0.e+00, 1.e-45, 0.e+00],
      dtype=float32)

In [244]:
y=pd.DataFrame(y_pred,columns=["survived"])

In [247]:
y=y.to_csv("output.csv")

In [245]:
y.index.name="Id"

In [246]:
y.head()

    survived
Id
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0