In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Lead.csv")

In [6]:
df

Empty DataFrame
Columns: [ID, First Name, Email Address, Status, State, Country]
Index: []

In [4]:
names=[]

In [5]:
def names(n):
    s="demo"
    for i in range(n):
        s+=str(i)
        names.append(s)
        s="demo"

In [7]:
import random

In [8]:
email=[]

In [9]:
def email_address(n):
    s="demo"
    ext=["@gmail.com","@hotmail.com","@outlook.com"]
    for i in range(n):
        random_ext = random.choice(ext)
        s+=random_ext
        email.append(s)
        s="demo"

In [10]:
status="Lead"

In [11]:
state=[]

In [17]:
for i in d.values:
    state.extend(i)

['Alabama',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming']

In [12]:
d=pd.read_csv("book1.csv")

In [13]:
def country_state(n):

                 Column1
0                Alabama
1               Arkansas
2                Arizona
3             California
4               Colorado
5            Connecticut
6   District of Columbia
7               Delaware
8                Florida
9                Georgia
10                Hawaii
11                  Iowa
12                 Idaho
13              Illinois
14               Indiana
15                Kansas
16              Kentucky
17             Louisiana
18         Massachusetts
19              Maryland
20                 Maine
21              Michigan
22             Minnesota
23              Missouri
24           Mississippi
25               Montana
26        North Carolina
27          North Dakota
28              Nebraska
29         New Hampshire
30            New Jersey
31            New Mexico
32                Nevada
33              New York
34                  Ohio
35              Oklahoma
36                Oregon
37          Pennsylvania
38           Puerto Rico
39          Rhode Island
40        South Carolina
41          South Dakota
42             Tennessee
43                 Texas
44                  Utah
45              Virginia
46               Vermont
47            Washington
48             Wisconsin
49         West Virginia
50               Wyoming